body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: #fff;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

.navbar a {
  color: #38bdf8;
  text-decoration: none;
}

/* LAYOUT */
.container {
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 20px;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

/* IMAGE */
.image-wrapper {
  display: flex;
  gap: 20px;
}

.image-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.gradcam {
  border: 3px solid #f43f5e;
}

/* RESULT */
.risk {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.low {
  background: #16a34a;
}
.moderate {
  background: #eab308;
}
.high {
  background: #dc2626;
}

/* INFO */
.info p {
  margin: 10px 0;
}

/* SUGGESTIONS */
.suggestions ul {
  padding-left: 20px;
}

/* BUTTON */
.btn-download {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 12px;
  background: #38bdf8;
  color: #000;
  border-radius: 10px;
  text-decoration: none;
}
